In [4]:
import pandas as pd

In [2]:
import sys

In [3]:
sys.version_info

sys.version_info(major=3, minor=7, micro=7, releaselevel='final', serial=0)

In [5]:
df = pd.read_csv('sweep_test.csv')

In [6]:
df

                          time        dt        V1        V2    OS    dts
1587004974835 5073.0  2.053235  2.057666  0.017725  1.639124  39.0  536.0
1587004974839 5026.0  2.053033  2.056860  0.017725  1.637311  41.0  589.0
1587004974843 5077.0  2.053839  2.057666  0.017725  1.639124  41.0  531.0
1587004974848 5019.0  2.052429  2.056055  0.017725  1.639526  41.0  530.0
1587004974853 5015.0  2.053235  2.056458  0.017926  1.639124  41.0  558.0
...                        ...       ...       ...       ...   ...    ...
1587128610258 5036.0  1.807709  1.625629  0.022961  1.641541  40.0  647.0
1587128610263 5025.0  1.834698  1.628046  0.023163  1.641742  40.0  612.0
1587128610268 5100.0  1.861890  1.629858  0.022760  1.642950  41.0  642.0
1587128610274 5017.0  1.886664  1.632678  0.023163  1.643353  40.0  695.0
1587128610279 5077.0  1.913855  1.634692  0.023163  1.643555  40.0  663.0

[24432046 rows x 6 columns]

In [11]:
d2 = df.iloc[:int(24432046/10)]

In [12]:
len(d2)

2443204

In [ ]:
ope